<h1 class="mat-h1"> Operation User</h1>
<mat-card class="example-card">
  <mat-card-title>Search</mat-card-title>
  <mat-card-subtitle>All Search</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button (click)="getAllUsers()"> List All </button>
    <button mat-button data-toggle="modal" data-target="#exampleModalCenter" (click)="changeLabelName(1)">Search By
      Id</button>
    <button mat-button data-toggle="modal" data-target="#exampleModalCenter" (click)="changeLabelName(2)">Search By
      Dni</button>
    <button mat-button data-toggle="modal" data-target="#exampleModalCenter" (click)="changeLabelName(3)">Search By
      Cuit</button>
    <button mat-button data-toggle="modal" data-target="#exampleModalCenter" (click)="changeLabelName(4)">Search By
      Email</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card class="example-card">
  <mat-card-title>Type Users </mat-card-title>
  <mat-card-subtitle>All users</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>Search Beneficiary</button>
    <button mat-button>Search Volunteer</button>
  </mat-card-actions>
</mat-card>



<!-- Modal search -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Search User</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #findForm="ngForm" (ngSubmit)="onUser(findForm)">
          <div class="form-group">
            <label for="usid">Search: by {{label_to_find}}</label>
            <input type="text" ngModel name="usid" class="form-control" id="usid" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal edit user -->
<div class="modal dialog" id="exampleModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalUpdateTitle"
  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #3f51b5; color: #fff">
        <h1 class="modal-title" style="font-size: 30px;" id="exampleModalLongTitle">Edit User</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="toUpdateUser(updateForm.value)">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" ngModel name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" ngModel name="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" ngModel name="password" class="form-control" id="password" required>
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" ngModel name="state" class="form-control" id="state" required>
          </div>

          <div class="form-group">
            <label for="phones">Phones:</label>
            <input type="text" ngModel name="phones" class="form-control" id="phones" required>
          </div>

           <p></p>

          <div style="background-color:#3fb577; color: #fff">
            <h2>Address</h2>
          </div>
          <div class="form-group">
            <label for="streetName">Street name:</label>
            <input type="text" ngModel name="streetName" class="form-control" id="streetName" required>
          </div>

          <div class="form-group">
            <label for="streetNumber">Street number:</label>
            <input type="text" ngModel name="streetNumber" class="form-control" id="streetNumber" required>
          </div>

          <div class="form-group">
            <label for="postalCode">Postal code:</label>
            <input type="text" ngModel name="postalCode" class="form-control" id="postalCode" required>
          </div>

          <div class="form-group">
            <label for="district">District:</label>
            <input type="text" ngModel name="district" class="form-control" id="district" required>
          </div>

          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" ngModel name="country" class="form-control" id="country" required>
          </div>

          <div class="modal-footer">
            <button type="button" id="update-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- List All users-->
<div class="card my-5">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phones</th>
          <th scope="col">Active</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Postal Code</th>
          <th scope="col">Country</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let user of user">
          <td *ngIf="user.cuil != null">P</td>
          <td *ngIf="user.dni != null">V</td>
          <td *ngIf="user.socialReason != null">B</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phones }}</td>
          <td>{{ user.state }}</td>
          <td *ngIf="user.address ">{{ user.address.district }}</td>
          <td *ngIf="user.address ">{{ user.address.streetName + user.address.streetNumber }}</td>
          <td *ngIf="user.address ">{{ user.address.postalCode }}</td>
          <td *ngIf="user.address ">{{ user.address.country.name }}</td>
          <td> 
              <button *ngIf="user.cuil != null &&  user.legalRepresentation != null" mat-button data-toggle="modal" data-target="#exampleModalUpdate" type="button"
              class="btn btn-primary" [routerLink]="['/editprovider', user.id]">Edit</button>

              <button *ngIf="user.dni != null " mat-button data-toggle="modal" data-target="#exampleModalUpdate" type="button"
              class="btn btn-primary" [routerLink]="['/editvolunteer', user.id]">Edit</button>

              <button *ngIf="user.socialReason != null && user.category" mat-button data-toggle="modal" data-target="#exampleModalUpdate" type="button"
              class="btn btn-primary" [routerLink]="['/editbeneficiary', user.id]">Edit</button>


          </td>
          <td> <button mat-button data-toggle="modal" data-target="#exampleModalDetail" type="button"
              class="btn btn-success">Details</button>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>