<mat-toolbar>
  <span>User Configuration</span>
</mat-toolbar>

<!-- Div user information -->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table-secondary">
        <thead style="position: sticky; top: 0; z-index: 1;">
          <tr class="table-secondary">
            <th class="table-secondary">Total Users:</th>
            <td style="font-weight: bold; color: green;">{{user.length}}</td>
          </tr>
          <tr class="table-secondary">
            <th class="table-secondary">Providers:</th>
            <td style="font-weight: bold; color: yellowgreen;">{{calculateNumOfProviders()}}</td>
          </tr>

          <tr class="table-secondary">
            <th class="table-secondary">Beneficiaries:</th>
            <td style="font-weight: bold; color: red">{{calculateNumOfBeneficiaries()}}</td>
          </tr>
          <tr class="table-secondary">
            <th class="table-secondary">Volunteers:</th>
            <td style="font-weight: bold; color: orange">{{ calculateNumOfVolunteers()}}</td>
          </tr>
        </thead>
      </table>
    </div>

    <div></div>
    <br>
    
    <!-- List All users-->
    <div class="table-responsive-md" style="overflow-y: auto; height:350px; width: 1600px;">

      <table class="table table-dark table-sm table-hover">
        <thead style="position: sticky; top: 0; z-index: 10;">
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones</th>
            <th scope="col">Active</th>
            <th scope="col">Address</th>
            <th scope="col">Postal Code</th>
            <th scope="col">Location</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let user of user">
            <td *ngIf="user.cuil != null" style="font-weight: bold; color: green;">P</td>
            <td *ngIf="user.dni != null" style="font-weight: bold; color: orange">V</td>
            <td *ngIf="user.socialReason != null" style="font-weight: bold; color: red">B</td>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phones }}</td>
            
            <td *ngIf="user.state===true">Active</td>
            <td style="font-weight: normal; color: red" *ngIf="user.state===false">Inactive</td>
            
            
            <td *ngIf="user.address ">{{ user.address.streetName + user.address.streetNumber }}</td>
            <td *ngIf="user.address ">{{ user.address.postalCode }}</td>
            <td *ngIf="user.address ">{{ user.address.district +' - '+user.address.country.name }}</td>
            <td>
              <button class="btn btn-outline-success btn-sm ng-star-inserted" *ngIf="user.cuil != null &&  user.legalRepresentation != null"  data-toggle="modal"
                data-target="#exampleModalUpdate" type="button" 
                [routerLink]="['/editprovider', user.id]">Edit</button>

              <button class="btn btn-outline-success btn-sm ng-star-inserted" *ngIf="user.dni != null "  data-toggle="modal" data-target="#exampleModalUpdate"
                type="button"  [routerLink]="['/editvolunteer', user.id]">Edit</button>

              <button class="btn btn-outline-success btn-sm ng-star-inserted" *ngIf="user.socialReason != null && user.category"  data-toggle="modal"
                data-target="#exampleModalUpdate" type="button" 
                [routerLink]="['/editbeneficiary', user.id]">Edit</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<!-- Div vault Detail -->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead style="position: sticky; top: 0; z-index: 1;">
          <tr>
            <th>
              <button type="button" class="btn btn-success" style="margin:5px;" data-toggle="modal"
                data-target="#modalAddProvider" (click)="setForm(2);">Add Provider</button>
              <button type="button" class="btn btn-success" style="margin:5px;" data-toggle="modal"
                data-target="#modalAddProvider" (click)="setForm(1);">Add Beneficiary</button>
              <button type="button" class="btn btn-success" style="margin:5px;" data-toggle="modal"
                data-target="#modalAddVolunteer" (click)="setForm(3);">Add Volunteer</button>
            </th>
            <td></td>
          </tr>

          <tr>
            <th>Users Actives:</th>
            <td style="font-weight: bold; color: black">{{ calculateState('1')}}</td>
          </tr>
          <tr>
            <th>Users Inactives:</th>
            <td style="font-weight: bold; color: black" >{{ calculateState('2')}}</td>
          </tr>
          
          <tr>
            <td><button type="button" class="btn btn-primary" style="margin:5px;" (click)="getAllUsers();">List
                All</button>
              <button type="button" class="btn btn-primary" style="margin:5px;" data-toggle="modal"
                data-target="#exampleModalCenter" (click)="changeLabelName(1);">Find By Id</button>
              <button type="button" class="btn btn-primary" style="margin:5px;" data-toggle="modal"
                data-target="#exampleModalCenter" (click)="changeLabelName(2);">Find By Dni</button>
              <button type="button" class="btn btn-primary" style="margin:5px;" data-toggle="modal"
                data-target="#exampleModalCenter" (click)="changeLabelName(3);">Find By Cuit</button>
              <button type="button" class="btn btn-primary" style="margin:5px;" data-toggle="modal"
                data-target="#exampleModalCenter" (click)="changeLabelName(4);">Find By Email</button>
            </td>

          </tr>

        </thead>
      </table>
    </div>
  </div>
</div>

<br>

<!-- Modal search -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0d6efd; color: #fff">
        <h2 class="modal-title" id="exampleModalLongTitle">Search User</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #findForm="ngForm" (ngSubmit)="onUser(findForm)">
          <div class="form-group">
            <label for="usid">Search: by {{label_to_find}}</label>
            <input type="text" ngModel name="usid" class="form-control" id="usid" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="findForm.invalid" type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






<!-- Modal add user Volunteer -->
<div class="modal dialog" id="modalAddVolunteer" tabindex="-1" role="dialog" aria-labelledby="exampleModalUpdateTitle"
  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#198754; color: #fff">
        <h1 class="modal-title" style="font-size: 30px;" id="exampleModalLongTitle">Add {{typeForm}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #onAddVolunteerForm="ngForm" (ngSubmit)="addObjVolunteer(onAddVolunteerForm.value)">
          <div class="container">

            <div class="row">
              <div class="col">
                <div style="background-color:#3fb577; color: #fff; text-align: center;">
                  <h2>Personal Info</h2>
                </div>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" ngModel name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" ngModel name="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="text" ngModel name="password" class="form-control" id="password" required>
                </div>
                <div class="form-group">
                  <label for="phones">Phones:</label>
                  <input type="text" ngModel name="phones" class="form-control" id="phones" required>
                </div>
                <div class="form-group">
                  <label for="dni">Dni:</label>
                  <input type="text" ngModel name="dni" class="form-control" id="dni" required>
                </div>
              </div>

              <div class="col">
                <div style="background-color:#3fb577; color: #fff; text-align: center;">
                  <h2>Address</h2>
                </div>
                <div class="form-group">
                  <label for="streetName">Street name:</label>
                  <input type="text" ngModel name="streetName" class="form-control" id="streetName" required>
                </div>
                <div class="form-group">
                  <label for="streetNumber">Street number:</label>
                  <input type="text" ngModel name="streetNumber" class="form-control" id="streetNumber" required>
                </div>
                <div class="form-group">
                  <label for="postalCode">Postal code:</label>
                  <input type="text" ngModel name="postalCode" class="form-control" id="postalCode" required>
                </div>
                <div class="form-group">
                  <label for="district">District:</label>
                  <input type="text" ngModel name="district" class="form-control" id="district" required>
                </div>
                <div class="form-group">
                  <label for="country">Country:</label>
                  <input type="text" ngModel name="country" class="form-control" id="country" required>
                </div>
              </div>

              <div class="col">
                <div style="background-color:#3fb577; color: #fff ; text-align: center;">
                  <h2>Vehicule</h2>
                </div>
                <div class="form-group">
                  <label for="type">Type:</label>
                  <input type="text" ngModel name="type" class="form-control" id="type" required>
                </div>
                <div class="form-group">
                  <label for="brand">Brand:</label>
                  <input type="text" ngModel name="brand" class="form-control" id="brand" required>
                </div>
                <div class="form-group">
                  <label for="carPLate">Car PLate:</label>
                  <input type="text" ngModel name="carPLate" class="form-control" id="carPLate" required>
                </div>
                <div class="form-group">
                  <label for="capacity">Capacity:</label>
                  <input type="text" ngModel name="capacity" class="form-control" id="capacity" required>
                </div>
              </div>

              <div class="col">
                <div style="background-color:#3fb577; color: #fff ; text-align: center;">
                  <h2>Volume Vehicule</h2>
                </div>
                <div class="form-group">
                  <label for="high">High:</label>
                  <input type="text" ngModel name="high" class="form-control" id="high" required>
                </div>
                <div class="form-group">
                  <label for="wide">Wide:</label>
                  <input type="text" ngModel name="wide" class="form-control" id="wide" required>
                </div>
                <div class="form-group">
                  <label for="longitud">Longitud:</label>
                  <input type="text" ngModel name="longitud" class="form-control" id="longitud" required>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" id="add-employee-provider" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="onAddVolunteerForm.invalid" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal add user provider -->
<div class="modal dialog" id="modalAddProvider" tabindex="-1" role="dialog" aria-labelledby="exampleModalUpdateTitle"
  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#198754; color: #fff">
        <h1 class="modal-title" style="font-size: 30px;" id="exampleModalLongTitle">Add {{typeForm}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #onAddProviderForm="ngForm" (ngSubmit)="addObjUser(onAddProviderForm.value)">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" ngModel name="name" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" ngModel name="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" ngModel name="password" class="form-control" id="password" required>
          </div>

          <div class="form-group">
            <label for="phones">Phones:</label>
            <input type="text" ngModel name="phones" class="form-control" id="phones" required>
          </div>


          <!-- Information for provider-->
          <div class="form-group" *ngIf="typeForm==='Provider'">
            <label for="cuil">Cuil:</label>
            <input type="text" ngModel name="cuil" class="form-control" id="cuil" required>
          </div>

          <div class="form-group" *ngIf="typeForm==='Provider'">
            <label for="lgRepresentation">Legal Representation:</label>
            <input type="text" ngModel name="lgRepresentation" class="form-control" id="lgRepresentation" required>
          </div>
          <!-- Information for provider-->


          <!-- Information for Beneficiary-->
          <div class="form-group" *ngIf="typeForm==='Beneficiary'">
            <label for="socialReason">Social Reason:</label>
            <input type="text" ngModel name="socialReason" class="form-control" id="socialReason" required>
          </div>
          <div class="form-group" *ngIf="typeForm==='Beneficiary'">
            <label for="category">Category:</label>
            <input type="text" ngModel name="category" class="form-control" id="category" required>
          </div>
          <div class="form-group" *ngIf="typeForm==='Beneficiary'">
            <label for="size">Capacity of members:</label>
            <input type="text" ngModel name="size" class="form-control" id="size" required>
          </div>
          <!-- Information for Beneficiary-->


          <p></p>

          <div style="background-color:#3fb577; color: #fff">
            <h2>Address</h2>
          </div>
          <div class="form-group">
            <label for="streetName">Street name:</label>
            <input type="text" ngModel name="streetName" class="form-control" id="streetName" required>
          </div>

          <div class="form-group">
            <label for="streetNumber">Street number:</label>
            <input type="text" ngModel name="streetNumber" class="form-control" id="streetNumber" required>
          </div>

          <div class="form-group">
            <label for="postalCode">Postal code:</label>
            <input type="text" ngModel name="postalCode" class="form-control" id="postalCode" required>
          </div>

          <div class="form-group">
            <label for="district">District:</label>
            <input type="text" ngModel name="district" class="form-control" id="district" required>
          </div>

          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" ngModel name="country" class="form-control" id="country" required>
          </div>

          <div class="modal-footer">
            <!--  [disabled]="onAddProviderForm.invalid"-->
            <button type="button" id="add-employee-provider" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="onAddProviderForm.invalid" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>