<!-- Edit user -->
<div class="modal-content">
    <div class="modal-body">
        <div style="background-color:#3fb577; color: #fff">
            <h2>Edit Volunteer</h2>
        </div>
        <form #updateForm="ngForm" (ngSubmit)="toUpdateUser(updateForm.value)">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" *ngIf="volunteerResponse.name != undefined " [(ngModel)]="volunteerResponse.name" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" [(ngModel)]="volunteerResponse.email" name="email" class="form-control" id="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" [(ngModel)]="volunteerResponse.password" name="password" class="form-control" id="password" required>
            </div>
         
            <div class="form-group">
                <label for="phones">Phones:</label>
                <input type="text" [(ngModel)]="volunteerResponse.phones" name="phones" class="form-control" id="phones" required>
            </div>

            <div class="form-group">
                <label for="dni">Dni:</label>
                <input type="text" [(ngModel)]="volunteerResponse.dni" name="dni" class="form-control" id="dni" required>
            </div>

            <p></p>

            <div style="background-color:#3fb577; color: #fff">
                <h2>Address</h2>
            </div>
           <div class="form-group">
                <label for="streetName">Street name:</label>
                <input type="text" [(ngModel)]="volunteerResponse.address.streetName" name="streetName" class="form-control" id="streetName" required>
            </div>

            <div class="form-group">
                <label for="streetNumber">Street number:</label>
                <input type="text" [(ngModel)]="volunteerResponse.address.streetNumber" name="streetNumber" class="form-control" id="streetNumber" required>
            </div>

            <div class="form-group">
                <label for="postalCode">Postal code:</label>
                <input type="text" [(ngModel)]="volunteerResponse.address.postalCode" name="postalCode" class="form-control" id="postalCode" required>
            </div>

            <div class="form-group">
                <label for="district">District:</label>
                <input type="text" [(ngModel)]="volunteerResponse.address.district" name="district" class="form-control" id="district" required>
            </div>
    
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" [(ngModel)]="volunteerResponse.address.country.name" name="country" class="form-control" id="country" required>
            </div>
       

            <p></p>

            <div style="background-color:#3fb577; color: #fff">
                <h2>Vehicule</h2>
            </div>

            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.type" name="type" class="form-control" id="type" required>
            </div>


            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.brand" name="brand" class="form-control" id="brand" required>
            </div>


            <div class="form-group">
                <label for="carPLate">Car PLate:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.carPLate" name="carPLate" class="form-control" id="carPLate" required>
            </div>

            <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.capacity" name="capacity" class="form-control" id="capacity" required>
            </div>

            <p></p>

            <div style="background-color:#3fb577; color: #fff">
                <h2>Volume Vehicule</h2>
            </div>
           
             
            <div class="form-group">
                <label for="high">High:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.volume.high" name="high" class="form-control" id="high" required>
            </div>

            
            <div class="form-group">
                <label for="wide">Wide:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.volume.wide" name="wide" class="form-control" id="wide" required>
            </div>

            <div class="form-group">
                <label for="longitud">Longitud:</label>
                <input type="text" [(ngModel)]="volunteerResponse.vehicule.volume.longitud" name="longitud" class="form-control" id="longitud" required>
            </div>
           
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
            <p></p>
        </form>
    </div>
</div>